/* ---- BASIC DECLARATIONS ---- */

*
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary:  'Barlow', sans-serif;
    --ff-secondary: 'Fraunces', serif;

    /* barlow */
    --fw-regular: 600;
    --fw-light: 500;
    --fw-bold: 800;

    /* fraunces */
    --fw-700: 700;
    --fw-900: 900;

    /* colors */
    --clr-light: #FFFBF8;
    --clr-dark: #1A0202;
    --clr-accent: #CB7412;
    --clr-accent-light: #EBBC5A;

    /* font sizes */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /* box shadow */
    --bs: 0.25em 00.25em .75em rgba(0,0,0,.25), 0.125em 0.125em 0.25em rgba(0,0,0,.15); /* x, y, spread radius and color */
}

/* making font sizes  bigger for bigger screens */

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* ---- GENERAL DECLARATIONS ---- */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

html {
    scroll-behavior: smooth;
}

/* ---- BUTTONS ---- */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    border-radius: 1em;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    border: none;
}

.btn:hover {
    transform: scale(1.1);
}

/* ---- TYPOGRAPHY ---- */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.section__title {
    margin-bottom: 0.25em;
}

.section__title--intro {
    font-weight: var(--fw-regular);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent-light);
    font-family: var(--ff-secondary);
    padding: .25em 1em;
    font-weight: var(--fw-900);
    color: var(--clr-light);
    margin-bottom: 1em;
    box-sizing: border-box;
}

.section__title--work {
    color: var(--clr-accent);
}

.section__subtitle--work {
    margin-bottom: 2em;
}

/* ---- HEADER ---- */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 2.5em;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent-light);
}

.nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0%);
}

.nav-open .nav-toggle {
    position: fixed;
}

.hamburger {
    background-image: url(../img/hamburger.svg);
    background-size: cover;
    width: 2.75em;
    height: 2.75em;
    display: block;
    position: relative;
    transition: transform 250ms ease-in-out;
}

/* ---- INTRODUCTION ---- */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

    /* setting up grid for final look for bigger screens only*/

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro { /* making the box subtitle stay behind */
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* ---- MY SERVICES ---- */

.my-services {
    background-color: var(--clr-dark);
    background-image: url(../img/services-bg.jpg);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 3em;
    height: 1.25px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 2em;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1250px;
        margin-left: auto;
        margin-right: auto;
    }

    .service {
        max-width: 500px;
        margin: 0 auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

/* ---- ABOUT ME ---- */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

.btn + .btn {
    margin-left: 4em;
}

.about-me__buttons {
    font-size: 1.25em;
    
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img"
            "buttons img";
        grid-column-gap: 1em;
    }

    .section__title-about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em); /* to not let the text touch the image */
    }
    
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }

    .about-me__buttons {
        grid-area: buttons;
    }
}

/* ---- MY WORK ---- */

.my-work {
    background-color: var(--clr-accent-light);
    color: var(--clr-dark);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio__item {
    background-color: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}

/* ---- TESTIMONIALS ---- */

.testimonial-review {
    text-align: center;
    color: var(--clr-dark);
}

.section__title--testimonials {
    color: var(--clr-accent);
    position: relative;
}

.section__subtitle--testimonials {
    margin-bottom: 1.75em;
}

.testimonials {
    margin-bottom: 4em;
}

.testimonial {
    max-width: 300px;
    margin: 0 auto;
}

.section__testimonial-review--image {
    max-width: 3em;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 800px) {
    .testimonials {
        display: flex;
        max-width: 1250px;
        margin-left: auto;
        margin-right: auto;
    }

    .testimonial + .testimonial {
        margin-left: 1em;
    }
}

/* ---- ITEM PAGE ---- */

.product-item-individual {
    padding: 0 2em 2em;
    max-width: 1250px;
    margin: 0 auto;
}

.product-item-individual p{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.product-item-individual__img {
    border: 6px solid var(--clr-accent-light);
    box-sizing: border-box;
    max-height: 600px;
}

/* ---- REGISTRATION PAGE ---- */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    flex-direction: column;

    position: relative;
    border-radius: 1.5em;
    background-color: var(--clr-accent-light);
    padding: 2em 3em;
    overflow: hidden;
    max-width: 900px;

    font-size: var(--fs-h3);
}

.registration__container {
    padding: .5em 2em;
}

.registration__input {
    padding: .5em;
    border: none;
    border-radius: 1.5em;
    padding-left: 1em;
}

.container a {
    color: var(--clr-accent);
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

.container button {
    margin: 2em auto 1.5em;
}

.registration__checkbox {
    font-size: var(--fs-body);
    position: relative;
}

input[type='checkbox'] {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clr-light);
    vertical-align: top;
}

.registration--switchpage {
    text-align: center;
}

.registration--switchpage a {
    color: var(--clr-accent);
    text-decoration: none;
}

.registration--switchpage a:hover {
    text-decoration: underline;
}

/* ---- FOOTER ---- */

.footer {
    background-color: var(--clr-accent-light);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: 0.7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__items {
    margin: 0 0.5em;
}

.social-list__link {
    padding: .5em;
    font-size: 1.5em;
}

